.container2 {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}
.container2 > div {
  display: inline-block;
  line-height: 30px;
  padding: 30px;
  /* background: #000;
  color: #fff;
  height: 400px;
  */
  display: table-cell; /* Make elements inside the container behave like table cells */
  text-indent: 30px;
  font-size: 20px;
}
.container2:after {
  content: " ";
  display: inline-block;
  width: 100%;
}



h1 {
	margin: auto;
    width: 50%;
    text-align: center;
}

button {
  background: #ff0000;
  background-image: -webkit-linear-gradient(top, #ff0000, #bd0404);
  background-image: -moz-linear-gradient(top, #ff0000, #bd0404);
  background-image: -ms-linear-gradient(top, #ff0000, #bd0404);
  background-image: -o-linear-gradient(top, #ff0000, #bd0404);
  background-image: linear-gradient(to bottom, #ff0000, #bd0404);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  vertical-align: top;

}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#phaser_example {
	margin-top: 0px;
	margin-bottom: 30px;
	position: fixed;
}